<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资金记录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <style>
        .btn-return {
            position: fixed;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>资金记录</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>来源</th>
                    <th>金额</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         <a href="/home" class="btn btn-primary btn-return">返回</a>
    </div>
</body>
</html>
